<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        
        <title>{{ title }}</title>
        
        <!--loading google formats-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
        
        <!--loading static style files-->
        <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='/css/header.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='/css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='/css/footer.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='/css/extra_pages.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include "header.html" %}
        <main class="main_body">
            <div class="main">
                {% block main_content %}
                {% endblock %}
                {% include "footer.html" %}
            </div>
        </main>
    </body>
</html>