{% extends "layout.html" %}

{% block main_content %}
    <section class="main__dates">
        {% for date in date_range(selected_date) %}
            <a class="main__dates_link {{ 'main__dates_link-current' if loop.index0 == 3 else '' }}" href="{{ url_for('habits.view_page', date=date) }}">
                <time class="main__date" datetime="{{ date }}">
                    <span>{{ date.strftime("%a") }}</span>
                    <span>{{ date.strftime("%d") }}</span>
                </time>
            </a>
        {% endfor %}
    </section>
    <section>
        <div class="main__habit_completed_list">
            {% for obj in habits %}
                <div class="main__habit_list">
                    <form method="POST" class="main__habit_complete_form" id="habits_form"
                        action="{{ url_for('habits_complete.habit_complete') }}">
                        <input type="hidden" name="habit_index" value="{{ loop.index0 }}" />
                        <input type="hidden" name="selectedDate" value="{{ selected_date }}" />
                        <div class ="main__habit_display_box">
                            <a href="#" class="main__habit_complete_link" onclick="formSubmit()">
                                <p class="main__habit_completed_name">{{ obj.get_Name() }}</p>
                            </a>
                            <div class="main__habit_icon_list">
                                <svg class="main__habit_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke="currentColor">
                                    <path stroke-width="1" fill="none" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                                <a href="{{ url_for('habits.delete_habit', index=loop.index0, date=selected_date) }}" class="habit__delete_link">
                                    <svg fill="currentColor" version="1.1" style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        viewBox="0 0 408.483 408.483" height="23px" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316
                                                    H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293
                                                    c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329
                                                    c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355
                                                    c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356
                                                    c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"/>
                                                <path d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916
                                                    c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
            {% if completions|length > 0 %}
                {% for obj in completions %}
                    <div class="main__habit_completed">
                        <form method="POST" class="main__habit_complete_form" id="habits_incomplete_form"
                            action="{{ url_for('habits_complete.habit_incomplete') }}">
                            <input type="hidden" name="habit_index" value="{{ loop.index0 }}" />
                            <input type="hidden" name="selectedDate" value="{{ selected_date }}" />
                            <div class ="main__habit_completed_display_box">
                                <a href="#" class="main__habit_incomplete_link" onclick="formSubmitIncomplete()">
                                    <p class="main__habit_completed_name">{{ obj.get_Name() }}</p>
                                </a>
                                <div class="main__habit_icon_list">
                                    <svg class="main__habit_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                    </svg>
                                    <a href="{{ url_for('habits.delete_completed_habit', index=loop.index0, date=selected_date) }}" class="habit__delete_link">
                                    <svg fill="currentColor" version="1.1" style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        viewBox="0 0 408.483 408.483" height="23px" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316
                                                    H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293
                                                    c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329
                                                    c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355
                                                    c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356
                                                    c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"/>
                                                <path d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916
                                                    c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"/>
                                            </g>
                                        </g>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
            {% if (habits|length == 0) and (completions|length == 0) %}
                <h3 class="no_habit_text">No habits</h3>
            {% endif %}
        </div>
    </section>

    <script>
        function formSubmit() {
            let form_data = document.getElementById("habits_form");
            form_data.submit();
        }

        function formSubmitIncomplete() {
            let form_data = document.getElementById("habits_incomplete_form");
            form_data.submit();
        }
    </script>
{% endblock %}