{% extends "layout.html" %}

{% block main_content %}
    <section class="main__dates">
        {% for date in date_range(selected_date) %}
            <a class="main__dates_link {{ 'main__dates_link-current' if loop.index0 == 3 else '' }}" href="{{ url_for('habits.home_page', date=date) }}">
                <time class="main__date" datetime="{{ date }}">
                    <span>{{ date.strftime("%a") }}</span>
                    <span>{{ date.strftime("%d") }}</span>
                </time>
            </a>
        {% endfor %}
    </section>
    <section>
        <div class="main__habit_completed_list">
            {% for obj in habits %}
                <div class="main__habit_list">
                    <form method="POST" class="main__habit_complete_form" action="{{ url_for('habits_complete.habit_complete') }}">
                        <input type="hidden" name="habit_index" value="{{ loop.index0 }}" />
                        <input type="hidden" name="selectedDate" value="{{ selected_date }}" />
                        <button type="submit" class="main__habit_completed_form_button">
                            {{ obj.get_Name() }}
                        </button>
                    </form>
                </div>
            {% endfor %}
            {% if completions|length > 0 %}
                {% for obj in completions %}
                    <div class="main__habit_completed">
                        <p class="main__habit_completed_name">{{ obj.get_Name() }}</p>
                        <svg class="main__habit_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="no_habit_text">No habits</h3>
            {% endif %}
        </div>
    </section>
{% endblock %}